.scores {
    border: 1px solid lightgray;
}

.scoreLocked {
    border: 1px solid darkgreen;
}

.dice {
    border: 1px solid gray;

}

.dieLocked {
    border: 1px solid blue;
}

.bonus {
    border: 1px solid gold;
}