
body {
    background-color: darkgreen;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    /* align-items: center;*/
    /* align-content: center; */
    /* justify-items: center; */
}

#game {
    background-color: bisque;
    width: 600px;
    border-radius: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* align-content: center; */
    /* justify-items: center; */
    /* display: flex; */
    /* align-self: center; */
    /* justify-self: center; */
}

#gameColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#roll {
    background-color: red;
    border-radius: 20%;
    font-size: large;
    color: white;
    width: 150px;
    height: 150px;
    text-transform: uppercase;

}

#diceRow {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.dice {
    /* display: flex; */

    border: 2px solid lightgray;
    background-color: white;
    border-radius: 10%;
    aspect-ratio: 1/1;
    width: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    

}

.dieLocked {
    border: 2px solid darkgreen;
    /* background-color: gray; */
}

#reset {
    background-color: black;
    border-radius: 20px;
    color: yellow;
    width: 100px;
    height: 50px;
    text-transform: uppercase;
}

#scoreColumn {
    display: flex;
    flex-direction: column;
    /* width: 50px; */
    margin: 10px;
    /* border: 2px solid black; */

     /* justify-content: start; */
     align-items: center;
    /* position: absolute; */
    /* align-self: end; */
    /* justify-self: flex-end; */

}

h3 {
    /* display: flex;
    text-align: center; */
}
.scoreRow {
    border: 2px solid darkgray;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* flex-direction: row; */
    width: 130px;
    height: 25px;
    padding: 0 5px;

}
/* p {
    text-align: start;
} */

.scoreRowClickable {
    border: 1px solid lightgray;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* flex-direction: row; */
    width: 130px;
    height: 25px;
    padding: 0 5px;
}

.scores, #subTotal, #subBonus, #yahtzeeBonus, #total {
    /* border: 1px solid lightgray; */
    width: 20px;
    text-align: end;
    /* padding-right: 5px; */
}

.scoreLocked {
    border: 1px solid darkgreen;
    background-color: lightgray;
}

.bonus {
    border: 2px solid orange;
    background-color: gold;
}

.gameOver {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8rem 6rem;
    border-radius: 10%;
    background-color: #0c4722;
    text-align: center;
    color: goldenrod;
    z-index: 1;
    opacity: 0.9;
  }

.yahtzee {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7rem 6rem;
    border: 1px solid olive;
    border-radius: 10%;
    background-color: #f3f313;
    text-align: center;
    color: rgb(90, 54, 8);
    z-index: 1;
    opacity: 0.9;
  }

  /* .yahtzeeBonus {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7rem 6rem;
    border: 1px solid olive;
    border-radius: 10%;
    background-color: #f3f313;
    text-align: center;
    color: rgb(90, 54, 8);
    z-index: 1;
    opacity: 0.9;
  } */

  .yahtzeeNull {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7rem 6rem;
    border: 1px solid black;
    border-radius: 10%;
    background-color: #74746e;
    text-align: center;
    color: rgb(12, 9, 6);
    z-index: 1;
    opacity: 0.9;
  }

/*--- makes an element pulse --- */
 @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  }

.pulse {
animation: 3s linear infinite blink;
}

/*--- makes an element spin, from Chat GPT --- */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*--- makes an element cycle through dice numbers, from Chat GPT --- */

@keyframes cycle {
  0% { 
    background-position: 0px 0px; 
    /* transform: rotate(0deg); */
}
  100% { 
    background-position: -300px 0px; 
    /* transform: rotate(360deg); */
}
}

.rolling {
    width: 51px;
    height: 51px;
    /* background-image: url('https://i.imgur.com/QKttHBC.jpg'); */
    animation: cycle 0.5s steps(6) infinite, spin 1s ease-in-out ; 
  }
  
  @media screen and (max-width: 500px) {
    #diceRow {
        /* display: flex; */
        flex-flow: row wrap;
    }
  }